<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHOTO HUNTER LIGHT - Photos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-300">
    <nav class="bg-white shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <a href="#" class="font-bold text-xl">PHOTO HUNTER LIGHT</a>
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <a
              href="index.html"
              class="text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium"
            >
              Home
            </a>
            <a
              href="photos.html"
              class="border-b-2 border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium"
            >
              Photos
            </a>
            <a
              href="photographers.html"
              class="text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium"
            >
              Photographers
            </a>
          </div>
        </div>
      </div>
    </nav>
    <main class="my-10">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="flex flex-wrap -m-4">
          <!-- PHOTOS -->

          <div class="p-4 md:w-2/3">
            <section>
              <article class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img
                  class="w-full h-40 object-cover"
                  src="https://source.unsplash.com/random?1/?photo"
                  alt="Nom du photo"
                />

                <div class="p-4">
                  <header class="mb-8">
                    <h2 class="text-lg font-bold">Titre 1</h2>
                    <div>
                      Photographe:
                      <a href="#" class="text-indigo-500 hover:underline">
                        Alex Smith
                      </a>
                    </div>
                    <div>ISBN: 0-675-7875-78</div>
                  </header>

                  <p class="text-base text-gray-600">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Nam debitis eius quis reprehenderit rem sequi odit,
                    architecto provident. Libero excepturi inventore quae atque
                    tempora optio dolor debitis rem accusamus eum!
                  </p>
                  <footer class="mt-8 pt-4 border-t border-gray-300">
                    <div>
                      <a href="#" class="text-indigo-500 hover:underline">
                        #tag1
                      </a>
                      <a href="#" class="text-indigo-500 hover:underline">
                        #tag2
                      </a>
                    </div>
                  </footer>
                </div>
              </article>
            </section>
          </div>
          <!-- ASIDE -->
          <aside class="p-4 md:w-1/3">
            <div class="h-full p-6">
              <h2 class="text-lg font-bold mb-2">Categories</h2>
              <ul class="list-disc pl-5 space-y-1">
                <li>
                  <a href="#" class="text-indigo-600 hover:text-indigo-900"
                    >Aventure</a
                  >
                </li>
                <li>
                  <a href="#" class="text-indigo-600 hover:text-indigo-900"
                    >Aventure</a
                  >
                </li>
                <!-- Répétez pour d'autres catégories -->
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </main>
    <footer class="bg-white shadow-md">
      <div class="max-w-7xl mx-auto py-4 px-5">
        <p class="text-center text-base text-gray-600">
          © 2024 PHOTO HUNTER LIGHT. Tous droits réservés.
        </p>
      </div>
    </footer>
  </body>
</html>
